<!DOCTYPE html>
<html>
<head>
	<title>Alarm Clock</title>
  <meta http-equiv="refresh" content="<%=refresh%>">
</head>
<body>
  <%= alarm_count %>
  <form method="post" action="/">
	<div>Please, set the alarm time</div><input type= "time" name="alarmTime">
	<input type="submit">
  </br>
  <input type="checkbox" name="sat_toggle" value="true">SAT Question of the Day
  </form>	
Alarm Time: <%= currentAlarm  %>
Current Time: <%= time_now %>
</br>

<embed src="song.wav" hidden="true" <%=autoplay%>></embed>

<%= alarm_turn_off %>


<%= alarm_delete %>




</body>
</html>
