<!DOCTYPE html>
<html>
<head>
	<title>Alarm Clock</title>
  <meta http-equiv="refresh" content="<%=refresh%>">
  <script src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Coda|Londrina+Shadow' rel='stylesheet' type='text/css'>
</head>
<body onload="startTime()">

<div id="txt"></div>
</br>
  <form method="post" action="/">
	<div>Please, set the alarm time</div><input type= "time" name="alarmTime">
	<input type="submit">
  </br>
  <input type="checkbox" name="sat_toggle" value="true">SAT Question of the Day
  <input type="checkbox" name="weather_toggle" value="true">Wake me up 15 minutes early if it's going to rain
  </form>	
Alarm Time: <%= currentAlarm  %>
</br>

<embed <%=song%> hidden="true" <%=autoplay%>></embed>

<%= alarm_turn_off %>


<%= alarm_delete %>




</body>
</html>
