<!DOCTYPE html>
<html>
<head>
	<title>Alarm Clock</title>
  <meta http-equiv="refresh" content="<%=refresh%>">
  <script src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Josefin+Sans' rel='stylesheet' type='text/css'>
</head>

<body onload="startTime()">



  <img id="circle" src="circle1.png" width="600px" height="600px">
 <div id="txt"></div>
</br>

<div id="masterdiv">
<div id="forecast_name">
<%= forecast_name %>
</div>

</br>

<div <%= hidden %> id="hidden">
  <form method="post" action="/">
	<div>Please, set the alarm time</div><input id="input_time" type= "time" name="alarmTime">
	<input class="submit" type="submit">
  </br>
  <br>
  <div id="options">
  <input type="checkbox" name="sat_toggle" value="true">Make me answer the SAT Question of the Day
  <br>
  <input type="checkbox" name="weather_toggle" value="true" >Wake me up 15 minutes early if it's going to rain
  </div>
</div>
  </form>	
<br>
<br>
<div id="alarm_time">Alarm Time: <%= currentAlarm  %></div>
</br>
<embed <%=song%> hidden="true" <%=autoplay%>></embed>

<%= alarm_turn_off %>

<%= alarm_delete %>
</div>

</body>
</html>
